.Weather {
  border: 1px solid #dadde1;
  border-radius: 3px;
  padding: 16px;
  max-width: 600px;
  background-image: url(./images/clear.jpg);
  background-size: cover;
  background-position: left 0% bottom 85%;
}

.Weather h1 {
  position: relative;
  top: 40px;
  font-size: 54px;
  font-weight: 100;
  margin: 20px;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 26px;
  font-weight: 100;
  line-height: 40px;
  list-style: none;
}

.Weather canvas {
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-size: 64px;
  color: #343a40;
  line-height: 64px;
}

.Weather .unit {
  line-height: 1;
  font-size: 16px;
  color: #202124;
  position: relative;
  top: -34px;
}

.btn-outline-secondary {
  border: 1px solid #ced4da;
  color: #ced4da;
}

.btn-outline-secondary:hover {
  background-color: goldenrod;
}
